<%= form_with(model: exchange, local: true) do |form| %>
  <% if exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exchange.errors.count, "error") %> prohibited this exchange from being saved:</h2>

      <ul>
      <% exchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :exchange_name %>
  </div>

<div class="field">
    <%= form.label :start, "Start date (optional)" %>
    <%= form.date_field :start, id: :exchange_start %>
</div>

<div class="field">
    <%= form.label :end, "End date (optional)" %>
    <%= form.date_field :end, id: :exchange_end %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
