<<<<<<< HEAD:app/views/exchanges/new.html.erb
<% provide(:title, "New Exchange") %>
<h1>Create a New Secret Santa Exchange</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@exchange, url: new_exchange_path) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :start, "Start date (optional)" %>
      <%= f.date_field :start, class: 'form-control' %>

      <%= f.label :end, "Close date (optional)" %>
      <%= f.date_field :end, class: 'form-control' %>

      <%= f.submit "Create my Exchange", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

=======
<h1>GiveAways#new</h1>
<p>Find me in app/views/give_aways/new.html.erb</p>
>>>>>>> parent of 74a52d0... Give Aways:app/views/give_aways/new.html.erb
