<p id="notice"><%= notice %></p>


  <% provide(:title, @exchange.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @exchange.name %>
      </h1>
    </section>
  </aside>
</div>


<div id="join_button">
  <% if current_user.participating?(@exchange) %>
    <%= render 'unjoin' %>
  <% else %>
    <%= render 'join' %>
  <% end %>
  </div>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
