<p id="notice"><%= notice %></p>


  <% provide(:title, @exchange.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @exchange.name %>
      </h1>
    </section>
  </aside>
</div>

<% if @owner == current_user %>
<div>
	<% unless @exchange.locked? || @exchange.participations.count < 3 #TODO make the minimum participants adjustable %>

		<%= form_tag(controller: :exchanges, action: :assign, method: "post", id: @exchange.id) do %>
	  		<%= submit_tag get_assignment_button_text(@exchange), class: "btn btn-primary" %>
	  	<% end %>
	<% else %>
			<%= form_tag do %>
			<%= submit_tag get_assignment_button_text(@exchange), class: "btn btn-primary", disabled: true %>
			<% end %>
	<% end %>
<div>
<% end %>

<% unless @exchange.locked? %>
	<%= render 'show_form' %>
<% else %>
	<div>This exchange is locked, can't join or leave</div>
<% end %>

<%= render 'show_participants' %>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
