<p id="notice"><%= notice %></p>


  <% provide(:title, @exchange.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @exchange.name %>
      </h1>
    </section>
  </aside>
</div>

<% if @owner == current_user %>
<div>
	<% if @exchange.locked? %>
			<%= form_tag do %>
			<%= submit_tag "Assigned!", class: "btn btn-primary", disabled: true %>
			<% end %>
	
	<% else %>

		<%= form_tag(controller: :exchanges, action: :assign, method: "post", id: @exchange.id) do %>
	  		<%= submit_tag "Assign", class: "btn btn-primary" %>
	  	<% end %>
			
	<% end %>
<div>
<% end %>

<% if @exchange.closed? %>
	<div>This exchange has finished! Check your profile page for your gift</div>
<% elsif @exchange.locked? %>
	<div>This exchange is locked, can't join or leave</div>
<% else %>
	<%= render 'show_form' %>
<% end %>

<% if @owner == current_user %>
	<%= render 'show_participants' %>
<% else %>
<% #TODO - show participants for non-owner %>
	<div>Number of participaints</div>
<% end %>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', current_user %>
