<p id="notice"><%= notice %></p>


  <% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

    </section>
  </aside>
</div>

<div class="row">
  <section class="user_info">
    <h2><%= get_pronoun_for_user_page(@user) %> Exchanges</h2>
  </section>
</div>

  <div class="album text-muted">
    <div class="container">
      <div class="row">
        <%= render 'my_exchanges' %>
      </div>
    </div>
  </div>


<%= link_to 'Create an Exchange', new_exchange_path %>

<% if @user == current_user && !@participations.nil? && @participations.count > 0 #User is participating in Exchanges %>
  <% #debugger %>
  <%= render 'participations' %>
<% end %>
